{% extends 'base.html.twig' %}

{% block title %}Tüm Ürünler{% endblock %}
    
{% block body %}
<div class="mt-5 min-h-screen bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900">
    {# Navbar'ı buraya çağırıyoruz #}
    {{ include('partials/_navbar.html.twig') }}

    <br>
    {{ include('partials/_product_grid.html.twig', { products: productData }) }}

    {{ include('partials/_footer.html.twig') }}
</div>
{% endblock %}
